/* *************************** *
 * 
 *  /
 *
 * *************************** */

body,html {
	padding-top: 25px;
}

.statement a, .footer a {
	font-weight: bold;
}

.form-control:focus {
    border:1px solid #97d6eb;
    box-shadow: none;
}

/* *************************** *
 * 
 *  /
 *
 * *************************** */

/** Jumbotron **/

.jumbotron {
	background: transparent;
}

/** Footer **/

.footer {
	width: 100%;
	height: 40px;

	margin: 0;
	line-height: 40px;
}

.disclaimer {
	font-style: italic;
}

.statement {
	margin-top: 30px;

	text-align: center;
}

/* *************************** *
 * 
 *  /projects/handheld
 *
 * *************************** */


/* *** Table *** */

.console_name {
	width: 16%;
}

.serial {
	width: 12%;

	text-align: center;
}

.alert-none {
	display: none;
}