/* *************************** *
 * 
 *  /
 *
 * *************************** */

body,html {
	padding-top: 25px;

	text-align: justify;
}

h1 {
	padding: 15px;
}

.statement a, .footer a {
	font-weight: bold;
}

.form-control:focus {
    border:1px solid #97d6eb;
    box-shadow: none;
}

a:hover, a:focus {
	text-decoration: none;
}

.project-button {
	background: #00c0ff !important;
	border: none;
}

.project-button:hover, .project-button:focus, .project-button:active {
	background: #00a5db !important;
	border: none;
}


/* *************************** *
 * 
 *  /
 *
 * *************************** */

/** Jumbotron **/

.jumbotron {
	background: transparent;
}

/** Footer **/

.footer {
	width: 100%;
	height: 40px;

	margin: 0;
	line-height: 40px;
}

.disclaimer {
	font-style: italic;
}

.statement {
	margin-top: 30px;

	text-align: center;
}

/* *************************** *
 * 
 *  /projects/handheld
 *
 * *************************** */


/* *** Table *** */

.console_name {
	width: 16%;
}

.serial {
	width: 12%;

	text-align: center;
}

.alert-none {
	display: none;
}