/**

	This CSS document isn't in anyway copyright but please
	don't just go around stealing my whole website. Feel
	free to browse through and be sure to let me know if
	you take anything, i'd be interested to see.

	twitter: @jakeoid_;

**/

/** Import **/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300);

/** Debug **/

.size 													{z-index: 999;height: 25px;position: fixed;top: 0;right: 0;padding: 5px 15px 5px 15px;background:rgba(0,0,0,0.5);color: #fff;margin: 5px;display: none;}

/** Global **/

html,body 												{background: #ffffff;min-height: 100%;margin: 0;padding: 0;color: #1d1d1d; font-family: 'Source Sans Pro';font-weight: 300;font-size: 18px;}
a 														{text-decoration: none;color: #2780e3;}
small													{font-size: 50%;}
h1,h2,h3,h4,h5,h6										{margin: 0;padding: 0;text-align: none;}

/** Sidebar **/

.sidebar 												{position: fixed;height: 100%;width: 100px;background: #1d1d1d;color: #fff;}
.icon-menu 												{position: relative;top: calc(50% - 122px);padding: 0;list-style-type: none;text-align: center;text-shadow: 5px 5px 0px rgba(0,0,0,0.1)}
.icon-menu > li 										{padding: 0px 0px 50px 0px;}
.icon-menu a											{color: #fff;}

/** Container **/

.container 												{width: calc(100% - 200px);background: #ffffff;padding: 10px 50px 10px 100px;float: right;font-size: 18px;text-align: justify;}
.title 													{margin: 0px 0px 0px 25px;font-size: 64px;}
.intro													{font-size: 23px;padding: 0px 0px 25px 0px;}

/** Footer **/

.footer 												{width: 100%;font-weight: bold;height: 50px;text-align:right;line-height: 50px;font-size: 14px;}

/** Button **/

.button 												{background:#1d1d1d; display: block; width: 130px;height: 40px;line-height: 40px;color: #fff;text-align: center;margin: 10px 0px 30px 25px;}
.button:hover											{background:#0e0e0e;}

/** Well **/

.well 													{padding: 50px 25px 120px 25px;}

/** Row **/

.row 													{width: 100%;}
.row > div 												{display: inline-block;}

/** Advertising **/

.ad 													{background:#f7f7f7;margin: 0 auto;}

/** Flow **/
.col-md-2 {width: 15%;text-align: left;}
.col-md-6 {width: 60%;}

/** Legacy **/
h2 > small 												{background: #1d1d1d;color: #fff;margin-left:15px;padding: 5px 15px 5px 15px;}

/** Table **/
table 													{width: 100%;border: none;}

/** Input **/
input[type=text] 										{border:none;height: 50px;text-indent: 25px;}
.checkbox												{background: #000 !important;}
textarea												{border: 1px solid rgba(0,0,0,0.1);border-radius: 5px;width: 100%;min-height: 200px;font-size: 18px;}

::-webkit-input-placeholder 							{color: #e6e6e6;}
:-moz-placeholder 										{color: #e6e6e6;}
::-moz-placeholder							 			{color: #e6e6e6;}
:-ms-input-placeholder 									{color: #e6e6e6;}

/** Button **/
button 													{background: #1d1d1d;border: none;padding: 20px 30px 20px 30px;margin: 20px;color: #fff;}

/** Old Man **/
.form-input-oldman										{width: calc(100% - 2px);color: #1d1d1d;font-size:30px;text-align: center;font-family: 'Open Sans', sans-serif !important;}
#form-submit-oldman										{width: calc(100%);height: 50px;line-height: 12px;background: #1d1d1d;border: 0;color: #fff;text-align: center;}

#compatibility_table > thead > tr						{height: 50px !important;background: #000;margin: 0;padding: 0 !important;border-spacing: 0px;background: #1d1d1d;color: #fff;line-height: 50px;	}
#compatibility_table > tbody > tr						{height: 35px !important;background: #000;margin: 0;padding: 0 !important;border-spacing: 0px;background: #fff;color: #1d1d1d;line-height: 35px;	}
#compatibility_table > tbody > tr:nth-child(even) 		{background-color: #f7f7f7;}
#compatibility_table > tbody > tr > th > .console_name 	{background-color: #f7f7f7;}

#species												{font-weight: bold;font-size: 32px;}

/** Ad **/

@media(min-width: 500px) { .ad { width: 468px !important; height: 60px !important; } }
@media(min-width: 800px) { .ad { width: 728px !important; height: 90px !important; } }

/** Menu **/

/** .sidebar {left: -80px;transition: left 0.1s ease;}
.sidebar:hover {left: 0px;} **/

/** Mobile **/
@media screen and (max-width: 480px) {
	.container 							{width: calc(100% - 60px);padding: 35px 30px 25px 30px;}
	.sidebar 							{position: fixed;left: 0;height: 90px;width: 100%;background: url('./img/bg.png'), #1d1d1d;background-repeat: no-repeat;background-size: 100%;background-position:top top;color: #fff;}
	.icon-menu 							{color: #fff;position: absolute;top: 0; left: calc(50% - 120px);;}
	li 									{display: inline;padding: none;margin: 10px 15px 0px 15px;}
}

@media screen and (max-width: 1000px) {
	.col-md-2 							{width: 100%;}
	.col-md-6 							{width: 100%;}
}

/**

	This CSS is guarded
	by this chicken.

	Proceed carefully.

		  ___
		 < . )_
		  ( _> )
		  /   \

**/