body {
	background: url('./img/bg.png');
	background-size: 100%;

	background-repeat: no-repeat;
	background-color: #161616;
	background-position: center;

	position: relative;
}

.container {
	width: 700px;
	height: 320px;

	position: absolute;
	top: 30%;
	right: 10px;
}

.coming_soon {
	background: url('./img/soon.png');
	background-repeat: no-repeat;
	background-position: center right;
	background-size: 100%;

	width: 100%;
	height: 18px;

	float: right;
}

.logo {
	background: url('./img/jakeoid.png');
	background-repeat: no-repeat;
	background-position: center right;
	background-size: calc(100% - 20px);

	width: 100%;
	height: 64px;

	margin: 30px 0px 0px 0px;

	float: right;
}

.date {
	background: url('./img/date.png');
	background-repeat: no-repeat;
	background-position: center right;
	background-size: 270px 100% ;

	margin: 80px 0px 0px 0px;

	width: 100%;
	height: 27px;

	float: right;
}

.legacy {
	background: url('./img/legacy.png');
	background-position: center;
	background-repeat: no-repeat;

	width: 100%;
	height: 17px;
	display: block;

	position: absolute;
	bottom: 15px;
}

@media all and (max-width: 700px) {
    .container { width: 100%; }
    .legacy {background-size: 75%;}
}