
/** Import **/

@import url(https://fonts.googleapis.com/css?family=Roboto:700,300,300italic);

/** Global **/

body,html {margin: 0;padding: 0; background: #eeeeee; font-family:'Roboto';color: #1c1c1c;}
a {text-decoration: none;color: #222d45;}
input[type=text], textarea {outline: none;}

/** Project **/

.project-description > a {color: #222d45;text-decoration: none;background: #fafafa;padding: 8px 10px 8px 10px;border-radius: 2px;}
.project-header {text-indent: 25px;font-size: 32pt;}
.project-description {text-align: justify;margin-top: 25px;line-height: 25px;}

.header-box {height: 250px;width: 100%;z-index: 1;background: #222d45; position: absolute;top: 0;left: 0;}
.container {width: calc(70% - 50px);z-index: 2;background: #fff;margin: auto;position: absolute;top: 25;left: calc(50% - 35%);box-shadow: 0px 1px 4px rgba(0,0,0,0.14);border-radius: 2px;padding: 25px;}

/** Preview **/

.preview {width: 500px;height: 300px;box-shadow: 0px 1px 4px rgba(0,0,0,0.14);margin: 25px auto;border-radius: 2px;padding: 25px;}
.preview-canvas {width: 500px;height: 300px;border-radius: 2px;}

/** Buttons **/

.buttons {width: 40%;margin: auto;}
.button {width: calc(50% - 62px);background: #222d45;color: #fff;font-weight: bold;padding: 20px;margin: 10px;text-align: center;display: inline-block;border-radius: 2px;box-shadow: 0px 1px 4px rgba(0,0,0,0.14);cursor: pointer;}

/** Modal **/

.generate-header {font-size: 32pt;text-align: center;}
.modal-content a {text-decoration: none;}
.modal-content > ol > li > textarea {width: 100%;height: 250px;border: none;resize: none;background: #fafafa;padding: 25px;border-radius: 2px;text-align: justify;}

/** Item **/

.item {width: 80%;border-radius: 2px;box-shadow: 0px 1px 4px rgba(0,0,0,0.14);margin: 25px auto;padding: 10px;overflow:auto;}

/** Item Preview **/

.icon {width: 130px;background: url('./icon.png');float: left;border-radius: 2px;box-shadow: 0px 1px 4px rgba(0,0,0,0.14);}
.icon > img {border-radius: 2px;}

/** Item Description **/

.item-text {width: calc(65% - 80px);float: left;padding-left: 20px;}
.item-button-container {width: calc(35% - 70px);float: left;}
.item-header {font-size: 24pt;padding-top: 12px;padding-bottom: 12px;}
.item-description {text-align: justify;}

.item-button {background: #222d45;color: #fff;font-weight: bold;padding: 20px 30px 20px 30px;margin: 10px;text-align: center;display: inline-block;border-radius: 2px;box-shadow: 0px 1px 4px rgba(0,0,0,0.14);top: calc(50% - 30px);left: 20px;position: relative;transition: background-color 0.1s ease;}
.remove {background: #ccc;color: #1c1c1c;margin-left: 25px !important;}
.descriptors-label {margin: 5px;text-align: left;padding: 10px;width: 100%;border-radius: 2px;display: inline-block;background: #eeeeee;}

/** Item Author **/

.author {line-height: 40px;text-align: right;}
.author > a {text-decoration: none;color: #3d4d69;}

/** Block **/

.block > input {border: 0;font-weight: bold;width: calc(100% - 120px);margin-left: 10px;height: 30px;font-size: 14px;font-family: 'Roboto', sans-serif;margin-left: 20px;text-indent: 10px;border-radius: 2px;}
.block > label {display: inline-block;width: 100px;text-align: right;}

/** Footer **/

.footer {text-align: center;}

/** Currently Here **/
.subscribers {background: #eeeeee;color: #000 !important;font-weight: normal !important;}
.here {background: #eeeeee;color: #000 !important;font-weight: normal !important;}

/** Modal **/

.modal {display: none;position: fixed;z-index: 3;left: 0;top: 0;width: 100%;height: 100%;overflow: auto;background-color: rgb(0,0,0);background-color: rgba(0,0,0,0.4);box-shadow: 0px 1px 4px rgba(0,0,0,0.14);line-height: 25px;}
.modal-content {background-color: #fff;margin: 5% auto;padding: 20px;width: 50%;border-radius: 2px;}
.modal-content > ol {text-indent: 25px;}

/** Mobile **/
@media screen and (max-width: 1150px) {

    .container {width: 80%;margin: none !important;left: calc(50% - 40% - 30px);}
    .preview {width: calc(100% - 100px);}
    .preview-canvas {left: calc(50% - 250px);position: relative;}

}

.close {color: #aaa;float: left;font-size: 28px;}
.close:hover, .close:focus {color: black;text-decoration: none;cursor: pointer;}


